
.ColorsColor {
    height: 100vh; 
    margin-top: -3.5rem; 
    
}

.ColorsColor h1 {
    font-size: 5rem; 
    padding-top: 9rem; 
}

.ColorsColor a {
    text-decoration: none;
    color: white; 
    font-size: 3rem; 
    
}