@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Mono:wght@500&display=swap');
.Colors-container {
	background-color: rgba(8, 191, 252, 0.52);
	margin-top: -3rem;
}

.Colors {
	background-color: rgba(8, 191, 252, 0.52);
	height: 100%;
}
.Colors h3 {
	padding-top: 1rem;
	font-family: 'Roboto Mono';
	font-size: 3rem;
}
.Colors h2 {
	font-family: 'Roboto Mono';
}

.Colors a:hover {
	background-color: darkgrey;
	transition: background-color, 1s;
}

.Colors a {
	text-decoration: none;
	background-color: whitesmoke;
	border-radius: 4px;
	padding: 1rem;
}

.Colors-link a {
	text-decoration: none;
	color: white;
	font-family: 'Merriweather';
    font-size: 2rem; 
}

.Colors-link a:hover {
	font-size: 3rem;
	transition: font-size, .5s;
}

.Colors-link {
	margin-top: 20px;
}

.Colors-color-container p {
	font-family: 'Merriweather';
	padding-top: 2rem;
	font-size: 2rem;
}

.Colors-color-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./images/david-pisnoy-46juD4zY1XA-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	color: white;
}
