
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
.Meme-container {
	position: relative;
    width: 25%;
    margin: 1rem ; 
    
}

.Meme-container > img {
    max-width: 100%;
    max-height: 100%;
}

.Meme-topText {
	position: absolute;
     
	top: -1.5rem;
	left: 50%;
	transform: translateX(-50%);
	color: white;
    font-family: 'Montserrat', sans-serif;
    inline-size: 95%; 
    overflow-wrap: break-word;

	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}



.Meme-bottomText {
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
    font-family: 'Montserrat', sans-serif;
    inline-size: 95%; 
    overflow-wrap: break-word;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
